<!doctype html>
<html>
<head>
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
</head>
<body>
	<div id="container"></div>
	<script>
		var data={DATA};
	</script>
	<script>
		var matchedByStylesheet=data.matched.reduce(function(p,c,i,a){
			if(!(c.stylesheet in p)){
				p[c.stylesheet]={rules:[],count:0,percent:0};
			}
			p[c.stylesheet].rules.push(c);
			p[c.stylesheet].count=p[c.stylesheet].rules.length;
			p[c.stylesheet].percent=p[c.stylesheet].count/data.rules;
			p[c.stylesheet].percentOfStatus=p[c.stylesheet].count/data.matched.length;
			return p;
		}, {});
		var unmatchedByStylesheet=data.unmatched.reduce(function(p,c,i,a){
			if(!(c.stylesheet in p)){
				p[c.stylesheet]={rules:[],count:0,percent:0};
			}
			p[c.stylesheet].rules.push(c);
			p[c.stylesheet].count=p[c.stylesheet].rules.length;
			p[c.stylesheet].percent=p[c.stylesheet].count/data.rules;
			p[c.stylesheet].percentOfStatus=p[c.stylesheet].count/data.unmatched.length;
			return p;
		}, {})
		var matchedByStylesheetArray=Object.keys(matchedByStylesheet).map(function(s){
			var obj=matchedByStylesheet[s];
			var m=/.*\/([^&#?]+)[^&#?]?/.exec(s);
			if(m && m.length)s=m[1];
			obj.label=s+' '+obj.count+' ('+Math.round(obj.percent*100)+'%)';
			obj.matched=true;
			return obj;
		}).concat(Object.keys(unmatchedByStylesheet).map(function(s){
			var obj=unmatchedByStylesheet[s];
			var m=/.*\/([^&#?]+)[^&#?]?/.exec(s);
			if(m && m.length)s=m[1];
			obj.label=s+' '+obj.count+' ('+Math.round(obj.percent*100)+'%)';
			obj.matched=false;
			return obj;
		}));
	</script>
	<script>
		function angle(d) {
			var a = (d.startAngle + d.endAngle) * 90 / Math.PI - 90;
			return a > 90 ? a - 180 : a;
		}
		function pieChart(data, valueFunction, labelFunction, innerLabelFunction, target){
			/**! Pie Chart functionality copied almost entirely from https://gist.github.com/enjalot/1203641 */
			if(target===undefined)target="body";
			if(valueFunction===undefined)valueFunction=function(d) { return d.value; };
			if(labelFunction===undefined)valueFunction=function(d, i) { return data[i].label; };
			var w = 600, h = 600, r = 200, color = d3.scale.category20c(), 
				matchedColors = d3.scale.linear().domain([1,10]).range(['blue', 'darkblue']), 
				unmatchedColors = d3.scale.linear().domain([1,10]).range(['red', 'darkred']);
		    var arc = d3.svg.arc().outerRadius(r);
		    var pie = d3.layout.pie().value(valueFunction);
			var vis = d3.select(target).append("svg:svg").data([data]).attr("width", w).attr("height", h).append("svg:g").attr("transform", "translate(" + r + "," + r + ")");
			var arcs = vis.selectAll("g.slice").data(pie).enter().append("svg:g").attr("class", "slice");
	        arcs.append("svg:path").attr("fill", function(d, i) { return (d.data.matched===true)?matchedColors(i):unmatchedColors(i); } ).attr("d", arc);                                    //this creates the actual SVG path using the associated data (pie) with the arc drawing function
	        arcs.filter(function(d) { return d.endAngle - d.startAngle > .2; }).append("svg:text")
	                .attr("transform", function(d,i) {d.innerRadius = 10;d.outerRadius = r-10;return "translate(" + arc.centroid(d) + ")rotate(" + angle(d) + ")";})
		            .attr("text-anchor", "middle").style("fill", "White").style("font", "bold 12px Arial").text(labelFunction);
	  	}
	</script>
	<script>
		pieChart(
			matchedByStylesheetArray, 
			function(d) { return d.rules.length},
			function(d, i) {return d.data.label},
			function(d, i) {return d.data.count+' ('+Math.round(d.data.percent*100)+'%)'},
        	'#container'
		);
	</script>
</body>
</html>
